a{
    margin-top: 5px;
    opacity: 0.3;
    display: inline-block;
    padding: 10px;
    border: 2px solid green;
    border-radius:  0px 5px 0px 5px;
}
a:link{
   color: aquamarine;
    
}
a: visited{
   color:red
}
a: hover{
  background-color:black;
    color: azure;
}
a: active{
  background-color:blue;
    color:violet;
}
.list{
    list-style-type: armenian;
    list-style-position: outside;
    background-color: burlywood;
    margin: 2px;
}
ol{
   list-style-position: outside;
    background-color: burlywood; 
}